#ucitavanje_tekst{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Consolas;
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
    color: transparent;
    font-size: 2em;
    white-space: nowrap;
}
#ucitavanje_tekst::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    overflow:hidden;
    border-right: 1px solid white;
    animation: ucitavanje 3s steps(29) 1;
}
@keyframes ucitavanje{
    0%{width: 0;}
    100%{width: 100%;}
}

 @media (max-width: 700px){
    #ucitavanje_tekst{
        letter-spacing: 1px;
    }
}
@media (max-width: 570px){
    #ucitavanje_tekst{
        letter-spacing: 1px;
        font-size: 1.5em;
    }
}
@media (max-width: 450px){
    #ucitavanje_tekst{
        letter-spacing: 1px;
        font-size: 1.2em;
    }
}
