*{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;transition: width 1s, height 1s;color: white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
*{user-select: none; -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; -webkit-touch-callout: none;}
body{background-image: url('../../img/tekstura.jpg'); opacity: 0.97; background-size: 50px;}
#ucitavanje{width:100%;height: 100vh; min-height: 900px; background-color:black; position: absolute;z-index: 1;opacity: 1;transition: opacity 1s;}
#prikazi_meni{font-size: 2rem; text-align: center;  padding: 8px; display: none; border-bottom: 1px solid #343a40; background-color: rgba(111,111,111,0.2); position: relative; z-index: 5;}
nav{border-bottom: 1px solid #343a40; position: relative; z-index: 5; display: flex; justify-content: space-between;}
nav ul, footer ul{display: inline-flex; list-style: none; padding-left: 40px;}
nav li, footer li{display: inline-flex; letter-spacing: 0.2rem; text-transform: uppercase; padding: 1rem; font-size: 15px;}
a{text-decoration: none;}
#logo{width: 200px;}
.ikonice{width: 25px;}
#grupa_ikonica{padding: 0 40px 0 0;}
#grupa_ikonica li{padding: 11px 10px 10px 10px;}
li:hover,#prikazi_meni:hover{background-color: rgba(111,111,111,0.3);}
.active{background-color: rgba(111,111,111,0.2);}
@media screen and (max-width:1240px){nav li{padding: 16px 8px;}}
@media screen and (max-width:1120px){nav ul, #grupa_ikonica{padding: 0;}}
@media screen and (max-width:1040px){    
    .sakrij{display: none;}
    nav:not(active){animation: tranzicijaMeni 1s;}
    #prikazi_meni{display: block;}
    nav{flex-direction: column; justify-content: center; transition: all 1s; height: 100vh; min-height: 900px; align-content: flex-start; padding-bottom: 100px;}
    nav ul{display: flex; flex-direction: column;}
    nav li{justify-content: center;}
    #grupa_ikonica{display: flex; justify-content: center; flex-direction: row;}
}
.pozadina{background-image: url('../../img/pozadina.jpg'); background-size: cover; background-attachment: fixed; background-position: 50% 0%; position: relative;}
.consolas{font-family: Consolas, Helvetica, Arial, sans-serif;}
#galerija{position: relative;margin: 25px auto ; width: 60%; border: 2px solid #343a40; line-height: 0px;}
#oba_slidera{position: relative; top: 45%;left: 50%; transform: translate(-50%,-50%);}
#galerija:hover p{display: flex;}
#pod_galerija{width: 100%;}
#slider{width: 100%; opacity: 0.9;}
#galerija p{width:50px; height: 100%; background-color: rgba(111,111,111,0.3); display: none; align-items: center; justify-content: center;font-size: 2rem; 
    color: rgb(255, 255, 255); position: absolute; top: 0%; text-shadow: 0px 0px 25px rgb(119, 119, 119);}
#prev{border-right: 1px solid #343a40;}
#next{right: 0;border-left: 1px solid #343a40;}
#galerija p:hover{background-color: rgba(111,111,111,0.8); color: white;}
@media screen and (max-width: 500px) {#galerija p{width:25px;}}
#tacke{width: 100%; height: 14px; position: absolute; bottom: 9px; display: block; text-align: center;}
#tacke label{position: relative; top: -5px; width: 14px; height: 14px; margin: 0 4px; display: inline-block; background-color: rgba(3, 3, 3,0.6); border: 1px solid white; border-radius: 100%;}
#tacke label:hover{cursor: pointer;background-color: white;}
#tacke label:first-child{background-color: white;} 
#pod_slider{width: 60%; margin: 0 auto; overflow-x: scroll; overflow-y: hidden; white-space: nowrap;border: 1px solid #343a40; opacity: 0.9; padding: 4px 4px 0 4px; }
#pod_slider img{border: 1px solid #343a40;}
@media screen and (max-width: 1400px) {#galerija, #pod_slider{width: 90%;}}
@media screen and (max-width: 800px) {#galerija, #pod_slider{width: 100%;}}
.slika_kontejner{position: relative; width: 23%; border: 1px solid #343a40; display: inline-block;}
.slika{display: block; width: 100%; opacity: 0.9;}
.slika_tekst{position: absolute; top: 0; left: 0; width: 100%; height: 100%;  background: rgba(0,0,0,0.4); display: block; text-align: center; opacity: 0; transition: opacity 0.25s; }
.slika_tekst:hover{opacity: 1;}
.slika_tekst * { transform: translateY(50px); transition: transform 0.25s;}
.slika_tekst:hover * {transform: translateY(-20%);}
.slika_naslov{font-size: 2em;font-weight: bold; position: relative;top: 35%; font-family: Consolas;}
.slika_opis{font-size: 1em; margin-top: 0.25em; position: relative;top: 40%; font-family: Consolas; white-space: normal;}
@media screen and (max-width: 1140px) {.slika_naslov{font-size: 1em;}}
@media screen and (max-width: 990px) {.slika_tekst:hover * {transform: translateY(-50%);}}
@media screen and (max-width: 600px) {.slika_tekst{font-size: 0.75em;}}
@media screen and (max-width: 600px) {.slika_tekst{font-size: 0.6em;}}
footer{border-top: 1px solid #343a40; padding: 1.5rem; text-decoration: none; position: relative; z-index: 5; text-align: center;}
footer ul{padding: 0;}
footer li{padding: 12px;}
footer p{letter-spacing: 0.1rem;text-transform: uppercase; padding: 12px 0;}
@media screen and (max-width: 680px) {footer ul, footer li{display: block; width: 100%;}}





 

@keyframes tranzicijaMeni{
    from{opacity: 0;}
    to{opacity: 1;}
}

